# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.fseventsd
.DocumentRevisions-V100

# Python — байт-код и кэш
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Виртуальные окружения и зависимости
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Дистрибуция и сборка
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Тесты и покрытие кода
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# IDE (PyCharm, VS Code)
.idea/
.vscode/
*.swp
*.swo
